
.book {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.book img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}

.book-info {
  margin: 0 14px;
}
.book-info p {
  margin-bottom: 0;
  margin-top: 5px;
}
.book-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  margin-top: 7px;
  color: #0e161a;
}
.btn-cart {
  width: 100%;
  background-color: #ffe0b3;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cart .btn-text {
  margin-left: 5px;
}
.btn-cart:hover {
  background-color: orange;
}
